# Local environment example
APP_STAGE=local
AI_PROVIDER=gemini-2.5-flash
UPLOAD_TOKEN_SECRET=jt5dPLoYiydWwLG9sIrVphHS3dwYqP0TkvrT4XLP3GLQi
MAX_UPLOAD_BYTES=10485760
AI_GATEWAY_BASE_URL=https://gateway.ai.cloudflare.com/v1/2fa6adcfdfb20da6d3a68f7a43c178a9/keihi-prod/google-ai-studio
GEMINI_API_KEY=AIzaSyDl5tMxW99RD9t5Q9LDuVLSjdWZItixKkY
gateway_api_key=fIwXs7x7Ll7FnD5EKhaMY7lxM-_2YHtcEc-SnRC_